.header-location {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  width: 200px;
  margin-right: 10px;
  &:hover {
    background-color: #f5f5f5;
  }
  &__icon {
    margin-right: 10px;
    i {
      font-size: 20px;
    }
  }
  &__text {
    p {
      margin: 0;
      font-size: 14px;
      strong {
        font-weight: 600;
      }
    }
  }
  &__arrow {
    margin-left: 10px;
    i {
      font-size: 12px;
    }
  }
}

.location-card {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    h3 {
      margin: 0;
      font-size: 16px;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      i {
        font-size: 16px;
      }
    }
  }
  &__body {
    padding: 10px;
  }
  &__search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    input {
      width: 100%;
      height: 40px;
      border: 1px solid #f5f5f5;
      border-radius: 5px;
      padding: 0 10px;
      font-size: 14px;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-left: 10px;
      i {
        font-size: 16px;
      }
    }
  }
  &__locations {
    margin-bottom: 10px;
  }
  &__location {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
    &-icon {
      margin-right: 10px;
      i {
        font-size: 20px;
      }
    }
    &-text {
      h4 {
        margin: 0;
        font-size: 14px;
      }
      p {
        margin: 0;
        font-size: 12px;
      }
    }
  }
  &__add-new {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #f5f5f5;
    }
    &-icon {
      margin-right: 10px;
      i {
        font-size: 20px;
      }
    }
    &-text {
      h4 {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

.add-new-address-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__content {
    width: 40%;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 10px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    h3 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      i {
        font-size: 16px;
      }
    }
  }
  &__body {
    padding: 10px;
    form {
      .form-group {
        margin-bottom: 10px;
        label {
          display: block;
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: bold !important;
        }
        input {
          width: 100%;
          height: 40px;
          border: 1px solid #f5f5f5;
          border-radius: 5px;
          padding: 0 10px;
          font-size: 14px;
        }
        button {
          width: 100%;
          height: 40px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
}

.add-new-address-btn:hover {
  background-color: $color-brand;
  color: white;
}

.add-new-address-btn {
  border-color: $color-brand;
  color: $color-brand;
}

.cancel-btn {
  font-size: $font-md;
  font-weight: 500;
  padding: 15px 40px;
  color: black;
  border: none;
  background-color: white;
  border: 1px solid $color-brand-dark;
  border-radius: 10px;
  margin-left: 10px;
  &:hover {
    background-color: #f5f5f5 !important;
  }
}

.form-btns {
  margin-top: 24px;
}
